body{
    text-align : center;
}

.btn-container{
    display: flex;
    justify-content : center;
}

.btn{
    width : 150px;
    height: 150px;
    border-radius: 20%;
    border : 10% solid black;
    margin: 1.5rem;
}


.purple{
    background-color: rgb(167, 48, 167);
}

.yellow{
    background-color: rgb(196, 196, 43);
}

.red{
    background-color: rgb(180, 41, 41);
}

.blue{
    background-color: rgb(43, 43, 177);
}

.flash{
    background-color: black;
}

.userFlash{
    background-color: white;
}